<ul class="nav navbar-nav navbar-right" style="margin-right:7px !important" >
    <li>
       @Html.ActionLink("購物車(" + ViewData["CartCount"] + ")", "Index", "ShoppingCart", new { id = "cart-status" })
    </li>   
</ul>



