   @*style="margin-right:7px !important"*@
    <li>
        @*@Html.ActionLink("購物車(" + ViewData["CartCount"] + ")", "Index", "ShoppingCart", new { id = "cart-status" })*@
        @*<a href="/ShoppingCart/Index" id="cart-status" style=" padding-top: 10px !important "><span class="glyphicon glyphicon-shopping-cart" style="font-size:25px;"></span>&nbsp;(@ViewData["CartCount"])</a>*@
        <a href="/ShoppingCart/Index" id="cart-status" style=" padding-top: 10px !important "><span class="glyphicon glyphicon-shopping-cart" style="font-size:25px;"></span>&nbsp;(@ViewData["CartCount"])</a>
    </li>   





