@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "詳細資料";
}

<h2>詳細資料</h2>

<div>
    <h4>權限</h4>
    <hr />名稱：
  
            @Html.DisplayFor(model => model.Name)
    
</div>
<br />
<h4>此權限下的使用者</h4>
@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>無使用者</p>
}

<table class="table">

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("回到權限管理", "Index")
</p>



