
@{
    ViewBag.Title = "訂單確認完畢!";
}

<h2>訂單確認完畢!</h2>
<p>Thanks for your order! Your order number is: @Model</p>
<p>
    How about shopping for some more music in our
    @Html.ActionLink("store", "Index", "Home")
</p>

